/** @format */

body {
  max-width: 1440px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/**** BarChart ****/
.recharts-surface {
  background-color: #fbfbfb;
  border-radius: 5px;
}
.sc-crHmcD.hcejGt.legend-container {
  background-color: #fbfbfb;
  p {
    background-color: #fbfbfb;
  }
}
ul.recharts-default-legend {
  position: absolute;
  top: -50px;
  left: 72%;
  margin: 0;
}

/**** LineChart ****/
.recharts-wrapper :nth-last-child(2) {
  background-color: #ff0000;
  border-radius: 5px;
}
