/** @format */

body {
  max-width: 1440px;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration-line: none;
}

/***************************** Profile Page *****************************/
main {
  width: 1126px;
  height: 779px;
  position: absolute;
  left: 200px;
  top: 130px;
}

section {
  display: flex;
  justify-content: space-between;
  width: 108%;
  margin-top: 30px;
}

article {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  width: 810px;
  height: 600px;
}

.recharts-surface {
  border-radius: 5px;
}

/**** BarChart ****/
.activity {
  .recharts-surface {
    background-color: #fbfbfb;
  }
  .legend-container {
    background-color: #fbfbfb;
    p {
      background-color: #fbfbfb;
    }
  }
}

ul.recharts-default-legend {
  position: absolute;
  top: -50px;
  left: 72%;
  margin: 0;
}

/**** LineChart ****/
.average {
  position: relative;
  .recharts-surface {
    background-color: #FF0000;
  }
}

/**** RadarChart ****/
.performance {
  .recharts-surface {
    background-color: #282D30;
  }
}

/**** PieChart ****/
.score {
  position: relative;
  .recharts-surface {
    background-color: #FBFBFB;
  }
}
